<head><link rel="stylesheet" href=".../style.css"></head>

<h1>Pirate</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h4>Grade: <%= @pirate.weight %></h4>
  <h4>Grade: <%= @pirate.height %></h4>
</div>


<h2>Ships</h2>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p>
    <p>Topic: <%= ship.type %></p>
    <p>Topic: <%= ship.booty %></p>
  </div>
<% end %>